/** DEFAULTS **/

html {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 16px;
	}
}

body {
  padding: 0;
  transform: none !important; /* Override angular's transform on broken sticky navbar */
}

.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	position: relative;
	top: 3rem;
}

.welcomeText {
	font-size: 2rem;
	color: #bbb;
	margin-top: 4rem;
}

/** NAVBAR **/

md-toolbar.navbar {
	position: fixed;
	top: 0;
}

.md-toolbar-tools h2 {
  font-size: 1.2rem;
}

#searchInput {
  margin-top: 0.3em;
  font-size: 1rem;
}

#searchInput label, #searchInput input {
  color: white;
}

md-select-container .md-select {
	border-color: white;
}

md-input-container .md-input .md-select {
	border-color: white;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
	border-color: white;
}

.categoriesSelect .md-select-icon {
	display: none;
}

md-option.categoriesOption > div.md-text {
	width: 100%;
}

/** SUMMARY **/
.summaryHighlight {
	color: rgb(63,81,181);
}

/** RESULTS **/

md-list-item > .md-avatar.focusedResult {
	width: 128px;
	height: 128px;
}

md-list-item > .focusedResultText {
	font-size: 0.9rem;
}

div.result {
	padding-top: 1em;
}

div.result > div.md-list-item-text h3 {
	line-height: 1.5em;
}

md-divider.result {
	margin-top: 1em;
}
/** LOADING **/

.progressCircularDiv {
	margin-top: 4em;
}

md-progress-circular {
	margin-left: auto;
	margin-right: auto;
}

/** RESPONSIVE **/

@media screen and (max-width: 600px) {
  .md-toolbar-tools h2 {
    font-size: 1rem;
  }
}