/** DEFAULTS **/

html {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 16px;
	}
}

body {
  padding: 0;
}

.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

/** NAVBAR **/

.md-toolbar-tools h2 {
  font-size: 1.2rem;
}

#searchInput {
  margin-top: 0.3em;
  font-size: 1rem;
}

#searchInput label, #searchInput input {
  color: white;
}

md-select-container .md-select {
	border-color: white;
}

md-input-container .md-input .md-select {
	border-color: white;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
	border-color: white;
}

.categoriesSelection {
	font-size: 1rem;
	line-height: 0.5rem;
}

/** LOADING **/

.progressCircularDiv {
	margin-top: 4em;
}

md-progress-circular {
	margin-left: auto;
	margin-right: auto;
}

/** RESULTS **/

md-card {
	margin-top: 20px;
	transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
}

/** RESPONSIVE **/

@media screen and (max-width: 600px) {
  .md-toolbar-tools h2 {
    font-size: 1rem;
  }
}