<div ng-controller="SummaryCtrl as summCtrl">
	<div class="summary">
		<div style="margin-left: 8px;" layout="row" layout-sm="column" layout-align="center center">
			<div flex>
				Found 
				<span class="summaryHighlight">{{totalRepoCount}}</span>
				results for query: 
				<span class="summaryHighlight">{{searchText}}</span>
			</div>
<!-- 			<div flex>
				Sort by 
			  <md-select placeholder="option" ng-model="selectedSortKey">
			    <md-option ng-repeat="sortOption in sortOptions" value="{{sortOption.value}}">{{sortOption.label}}</md-option>
			  </md-select>
			</div> -->
		</div>
	</div>
</div>