<!doctype html>
<html class="no-js">
  <head>
	<meta charset="utf-8">
	<title>Github Repo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/animations.css">
	<!-- endbuild -->
  </head>
  <body ng-app="githubSearchApp">
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div ng-controller="GithubSearchCtrl">

	  <!-- Add your site or application content here -->

	  <!-- NAVBAR -->
		<md-toolbar md-scroll-shrink class="md-default-theme">
			<div class="md-toolbar-tools" layout="row" layout-align="right right">
				<span id="searchInput" flex>
					<md-autocomplete
					md-no-cache="noCache"
					md-search-text="searchText"
					md-items="item in filterAutocomplete(searchText)"
					md-item-text="item ? item.display : ''"
					md-floating-label="Search for a Github Repo"
					ng-model-options="{debounce: 500}"
					ng-keyup="changeEnteringText($event)">
						<span md-highlight-text="searchText">{{item.display}}</span>
					</md-autocomplete>
				</span>
				<span style="text-align:center;" flex="5">
					in
				</span>
				<md-select multiple=true flex="10"
					ng-model="selectedCategories">
					<md-option
						ng-selected=true 
						ng-value="category.name" 
						ng-repeat="category in categories">
						{{category.name}}
					</md-option>
				</md-select>
			</div>
		</md-toolbar>

		<!-- BODY -->
		<div class="container">
			<div class="progressCircularDiv" layout-align="row" layout-sm="column" layout-align="space-around"
				ng-show="isEnteringText">
				<md-progress-circular md-mode="indeterminate" flex></md-progress-circular>
			</div>
			<div style="margin-left: 8px;"
				ng-show="!isEnteringText && hasResults">Found {{resultsTotalCount }} results for {{searchText}} in {{searchCategories}}</div>
			<div class="results" 
				infinite-scroll="nextResultsPage()" 
				infinite-scroll-disabled="isLoadingNextPage"
				infinite-scroll-distance="0">
				<md-card class="resultCard" ng-repeat="result in results">
					<md-card-content>
						<h2 class="md-title"
						ng-model="result"
						ng-click="showResult(result)">
							{{result.full_name}}
						</h2>
						<p class="animate-hide" ng-hide="!result.show">Language: {{result.language}}</p>
						<p class="animate-hide" ng-hide="!result.show">Followers: {{result.followers}}</p>
						<p class="animate-hide" ng-hide="!result.show">URL: {{result.git_url}}</p>
						<p class="animate-hide" ng-hide="!result.show">Description: {{result.description}}</p>
					</md-card-content>
				</md-card>
			</div>
			<div class="progressCircularDiv" layout-align="row" layout-sm="column" layout-align="space-around"
				ng-show="isLoadingNextPage">
				<md-progress-circular md-mode="indeterminate" flex></md-progress-circular>
			</div>
		</div>

	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	 <script>
	   !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
	   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
	   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
	   }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	   ga('create', 'UA-XXXXX-X');
	   ga('send', 'pageview');
	</script>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/githubsearch.js"></script>
<script src="scripts/services/githubconfig.js"></script>
<script src="scripts/services/repomanager.js"></script>
<script src="scripts/directives/ngenter.js"></script>
<script src="scripts/directives/scrolly.js"></script>
		<!-- endbuild -->
</body>
</html>
